@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 10px}
.w3-row-padding img {margin-bottom: 12px}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
}

body {
	display: flex;
	justify-content: center;
	align-self: center;
	min-height: 100vh;
	background: none;

}

.photo-container
{
	position: relative;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: minmax(100px, auto-fill);
	margin: 40px;
	grid-auto-flow: dense;
	grid-gap: 10px; 
}

.photo-container .box 
{
	background: #333;
	padding: 20px;
	display: grid;
	font-size:20px;
	/* place-times: center; */
	text-align: center;
	color: #ffcc00;
	transition: .5s;
}

.photo-container .box:hover 
{
	 background: #fbf7d6;
}

.photo-container .box img 
{
	position: relative;
	max-width: 100px;
	margin-bottom: 10px;
}

.photo-container .box:nth-child(1)
{
	grid-column: span 2;
	grid-row:  span 1;

}

.photo-container .box:nth-child(2)
{
	grid-column: span 1;
	grid-row:  span 2;
}


.photo-container .box:nth-child(2)
{
	grid-column: span 1;
	grid-row:  span 2;
}


.photo-container .box:nth-child(4)
{
	grid-column: span 1;
	grid-row:  span 2;
}


.photo-container .box:nth-child(7)
{
	grid-column: span 3;
	grid-row:  span 1;
}


.photo-container .box:nth-child(6)
{
	grid-column: span 1;
	grid-row:  span 1;
}

 * {box-sizing: border-box}
 body{
   font-family: 'Noto Sans JP', sans-serif;
 }
 
 .header-reg {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
 label {
 	color : black;
 }
   input[type=text]{
   width: 50%;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: inline-block;
   border: none;
   width:1000%;
   resize: vertical;
   padding:15px;
   border-radius:15px;
   border:0;
   box-shadow:4px 4px 10px rgba(0,0,0,0.2);
 }
input[type=text]:focus{
   outline: none;
 }
hr {
   border: 1px solid #f1f1f1;
   margin-bottom: 25px;
 }
button {
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
   opacity: 0.9;
 }
button:hover {
   opacity:1;
 }
.cancelbtn {
   padding: 14px 20px;
   background-color: #f44336;
   width: 10%;
   float: left;
   border-radius:15px;
   border:0;
   box-shadow:4px 4px 10px rgba(0,0,0,0.2);
   
 }
.submitbtn {
   float: left;
   width: 10%;
   border-radius:15px;
   border:0;
   box-shadow:4px 4px 10px rgba(0,0,0,0.2);
 }
.header-reg container {
   padding: 16px;
   text-align: center;

 }
 
 .regbtn {
  float: left;
  width: 10%;
  border-radius: 15px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.2);

 }

 .contact-page{
   background-color:grey ;
   border-radius:15px;
   color: #f1f1f1;

 }

.contact-page .header-contact{
  text-align: center;
  font-weight: bold;

}

.contact-page h1{
  font-weight: bold;

}
 .contact-page label {
   color:aquamarine;
 }